@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

:root
{
    --primary-color: #F5E050; 
    --secondary-color: #0A75BC;
}

header
{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    font-family: 'Ranchers', cursive;
    word-spacing: 0.25rem;
    letter-spacing: 0.05rem;
    margin: 0px;
}

h1
{
    margin:0px;
    color:var(--secondary-color);
}

body
{
    margin:0px;
    
}


.txt-box
{
    position: absolute;
    top: 250px;
    right: 30px;
    width:50%
}

.out-txt-box
{
    position: absolute;
    top: 490px;
    right: 30px;
    width:50%
}

textarea
{
    width: 80%;
    height: 15vh;
    padding: 0.5rem;
    margin: auto;
    overflow: hidden;
    border-radius: 3px;
    border-width: 2px;
}

#btn
{
    position: absolute;
    top: 400px;
    right: 30px;
    width:35%
}

#btn-translate
{
    margin: 0.8rem;
    border :1.5px solid var(--secondary-color);
    font-weight: 520;
    padding:0.6rem;
    background-color: var(--secondary-color);
    color: white;
}

#btn-translate:hover
{
    color: var(--secondary-color);
    background-color: white;
}

.image
{
    width:100%;
    height:110vh;
    overflow: hidden;
}

footer{
    background-color: #0A75BC;
    color: var(--primary-color);
    text-align: center;
    font-family: 'Ranchers', cursive;
    
}

h3
{  
     word-spacing: 0.3rem;
    letter-spacing: 0.05rem;
    text-shadow: 1.2px 1.2px #000;
    font-weight:700;
    padding: 1rem 0rem;
    margin:0px;
}